<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ru"> 
{% block title %}Профайл пользователя {{ posts_author.author.get_full_name }}{% endblock %}
  {% block content %}
  <body>
    <main>

      <div class="container py-5">
        <h1>Все посты пользователя  {{ posts_author.author.get_full_name }}<!--Лев Толстой--> </h1>
        <h3>Всего постов: {{ author_posts_numbers }}<!-- --> </h3>   
        <article>
        {% for post in page_obj %}
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
              {% if post.author %}
              <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
              {% endif %}
            </li>
            <li>  
              Дата публикации: {{ post.pub_date|date:"d E Y" }}<!-- 31 июля 1854 --> 
            </li>
          </ul>
          <p>
          {{ posts_author.text }} 
          </p>
          {% if post.author %}
          <a href="{% url 'posts:post_detail' post.pk %}" >подробная информация </a>
          {% endif %}

        </article>
        {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %}
        <hr>
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        <!-- Остальные посты. после последнего нет черты -->

        {% include 'posts/includes/paginator.html' %}
        <!-- Здесь подключён паджинатор -->
        {% endblock %}
      </div>
    </main>

    <footer class="border-top text-center py-3">
      <p>© <!--2021 --> Copyright <span style="color:red">Ya</span>tube</p>    
    </footer>
  </body>
</html>

